<footer>
  <div class="copyright">
    &copy; {{ $.Site.Params.copyright }} {{ now.Format "2006"}} · {{ with $.Site.Params.license }}<a href="{{ $.Site.Params.licenseURL }}">{{ . | safeHTML }}</a>{{end}}
  </div>

  <script>
    if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js')
                  .then(reg => {
                      console.log('Registration succeeded. Scope is ' + reg.scope);
                  })
                  .catch(registrationError => {
                      console.log('SW registration failed: ', registrationError);
                  });
          });
      }
    </script>
</footer>
